name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

    - name: Build Docker image
      run: |
        docker build -t python-hello .

    - name: Save Docker image to artifact
      run: |
        docker save python-hello -o python-hello.tar

    - name: Add server to known_hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

    - name: Upload Docker image to server
      run: scp python-hello.tar ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/tmp/

    - name: Load and run Docker container on server
      run: |
        ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}"
          docker load -i /tmp/python-hello.tar &&
          docker rm -f python-hello || true &&
          docker run -d --name python-hello -p 5000:5000 python-hello
        "
